.text-color {
  color: #0070f3 !important;
}

/* sidebar  */

@media screen and (max-width: 945px) {
  .sidebar-title {
    display: none;
  }
  .siderbar-row {
    text-align: center;
  }
}
.sidebar {
  min-height: 100vh;
}
.sidebar .sidebar-head {
  padding: 12px 20px;
  box-shadow: 0px 1px 0px rgba(196, 205, 213, 0.3);
}
.sidebar .sidebar-head h2 {
  font-size: 24px;
  line-height: 32px;
  color: #a7e8e0;
  font-weight: 600;
}
.sidebar .sidebar-list {
  margin: 0px 8px;
  margin-top: 18px;
}
.sidebar .sidebar-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: calc(100vh - 56px);
}
.sidebar .bottom {
  margin-top: auto;
}
.sidebar .bottom .sidebar-list label {
  color: #a7e8e0;
}
.sidebar .sidebar-list ul li {
  margin-bottom: 15px;
}
.sidebar .sidebar-list.chatsec {
  border-bottom: 1px solid rgb(241 242 246 / 20%);
}

.sidebar .sidebar-list ul li a {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}
.sidebar .sidebar-list ul li label {
  font-size: 14px;
  line-height: 20px;
  color: #c0ccda;
  cursor: pointer;
}
.sidebar .sidebar-list ul li span {
  margin-right: 18px;
  vertical-align: text-bottom;
}
.sidebar .sidebar-list ul li.active {
  background: #3da496;
  border-radius: 5px;
}
.sidebar .sidebar-list ul li.active label {
  color: #ffffff;
}
.sidebar .sidebar-list ul li.active span path {
  stroke: #ffffff;
}
.sidebar .border-seagreen-btn span {
  margin: 0 !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
@media screen and (min-width: 1024px) and (max-width: 1100px) {
  .sidebar .sidebar-head {
    display: none;
  }
  .sidebar .sidebar-list ul li span {
    margin: 0;
  }
  .sidebar .sidebar-list ul li label {
    display: none;
  }
  .sidebar .border-seagreen-btn {
    border: 0px;
    min-width: 10px;
    padding: 0 !important;
  }
  .sidebar .sidebar-list ul li a {
    justify-content: center;
  }
  .sidebar .border-seagreen-btn img {
    margin-right: 0;
  }
  .sidebar .border-seagreen-btn span {
    display: none;
  }
}

/* Drag and Drop */

.droppable-col {
  width: 100%;
  background-color: #0070f3;
  padding: 10px 10px 0 10px;
  border-right: 7px;
  display: flex;
  flex-direction: column;
}
.draggable-item {
  margin-bottom: 10px;
  color: white;
  background-color: #0070f3;
  border: 1px solid white;
  padding: 5px;
  border-radius: 7px;
}
